body {
  max-width: 960px;
  margin: 0 auto;
}

[name="sentence"] {
  width: 100%;
  height: 12em;
}

.result {
  margin-bottom: 3em;
}

.shiteki {
  margin: 0 0.2em;
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;
}

@supports not (text-decoration-style: wavy) {
  .shiteki {
    display: inline-block;
    border-bottom: dashed 1px red;
  }
}

.tooltip {
  margin: 4px;
}

.tooltip .tooltip-inner {
  background-color: #ffffa5;
  padding: 0.2em 0.5em;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
}
